@{
    ViewData["Title"] = "Home Page";
}

<dl>
    @{
        BackendData.Station s = new();
        List<BackendData.Station> stations = await s.Get();
        foreach(BackendData.Station station in stations)
        {
            <dt><a href="/station/?id=@station.Id">@station.ParkingSection  - @station.Name</a></dt>
        }
    }
</dl>