@{
    ViewData["Title"] = "Home Page";
}

<dl>
    @{
        BackendData.Station s = new();
        List<BackendData.Station> stations = await s.Get();
        foreach(BackendData.Station station in stations)
        {
            foreach (BackendData.Station.Charger charger in station.Chargers)
            {
                <dt><a href="/station/?id=@station.Id">@station.ParkingSection  - @station.Name - @charger.Side</a> (@charger.Status)</dt>
            }
        }
    }
</dl>