@using BackendData
@using Microsoft.AspNetCore.Http.Extensions
@using System.Security.Claims
@using static BackendData.Station

@{
    User u = new();
    Station? s = new();
    Charger? selectedCharger = new();
    ChargeLog cl = new();
    string details = string.Empty;
    string station = string.Empty;
    string chargerDetails = string.Empty;
    string currentChargeMessage = string.Empty;
    Microsoft.Extensions.Primitives.StringValues queryVal;
    if (Context.Request.Query.TryGetValue("stationid", out queryVal))
    {
        s = await s.GetStationByIdAsync(Guid.Parse(queryVal));
        if (s != null){
            details += s.Name;
            if (Context.Request.Query.TryGetValue("chargerid", out queryVal)){
                Charger? charger = s.Chargers.SingleOrDefault(c => c.ChargerId == Guid.Parse(queryVal.ToString()));
                if (charger != null)
                {
                    details += $" {charger.Side} charger";
                    selectedCharger = charger;
                    ChargeLog? currentCharge = await cl.GetCurrentCharge(null, charger.ChargerId);

                    User? thisUser = await u.GetUserByEmailAsync(DataBase.ReturnUserClaimTypeValue(identity: (ClaimsIdentity)User?.Identity, "preferred_username"));

                    if (currentCharge != null && currentCharge.UserId != thisUser?.Id)
                    {
                        currentChargeMessage = "<p><div class='alert alert-danger'><i class='fa fa-exclamation-circle'></i> This charger is assigned to another user. It's OK to close the charge if he has left the station.</div></p>";
                    }
                    else if (currentCharge != null && currentCharge.UserId == thisUser?.Id)
                    {
                        currentChargeMessage = "<p><div class='alert alert-info'><i class='fa fa-info-circle'></i> This charger is currently assigned to you</div></p>";
                    }
                }
            }
        }
    }
    
    ViewData["Title"] = details;
}

<h1>@s?.Name</h1>
<h3>@selectedCharger?.Side side @selectedCharger?.Plug</h3>
<span class='@selectedCharger?.DisplayClass rounded' style='margin-top:15px;padding:10px;height:20px;border:1px solid black;'>@selectedCharger?.Status</span>
@{
    if (selectedCharger?.Status == State.Available)
    {
        <a id="btnStartCharge" class="btn btn-success">Start charging</a>
    }
    else if (selectedCharger?.Status == State.Broken)
    {
        <p><div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> This charger is not functioning properly</div></p>
    }
    else
    {
        <button id="btnStopCharge" class="btn btn-danger">Stop charging</button>
        @Html.Raw(currentChargeMessage)
    }
}
@section Scripts{
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            var button = document.getElementById('btnStartCharge');
            if (button != null){
                button.addEventListener('click', function Start() {
                    $.ajax({
                        contentType: "application/json",
                        type: "POST",
                        url: "../api/charge/start/?chargerId=@selectedCharger?.ChargerId",
                        data: "@selectedCharger?.ChargerId",
                        withCredentials: true,
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data == "") {
                                document.location.reload();
                            }
                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                });
            }
            var button = document.getElementById('btnStopCharge');
            if (button != null) {
                button.addEventListener('click', function Start() {
                    $.ajax({
                        contentType: "application/json",
                        type: "POST",
                        url: "../api/charge/stop/?chargerId=@selectedCharger?.ChargerId",
                        data: "@selectedCharger?.ChargerId",
                        withCredentials: true,
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data == "") {
                                document.location.reload();
                            }
                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                });
            }
        });
    </script>
}
<p></p>
<a class="btn btn-primary" href="/station/?id=@s.Id">Back</a>